Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    # Project coverage - informational only (doesn't block PRs)
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    # Patch coverage - informational for now, can enforce later
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

flags:
  core:
    paths:
      - packages/core/src/**
    carryforward: true
  semantic:
    paths:
      - packages/semantic/src/**
    carryforward: true
  i18n:
    paths:
      - packages/i18n/src/**
    carryforward: true

comment:
  layout: 'header, diff, flags, components'
  behavior: default
  require_changes: true

fix(examples): remove button emojis and fix counter visibility
  examples/basics/03-show-hide.html
  examples/basics/05-counter.html
  examples/intermediate/01-form-validation.html
  examples/intermediate/03-fade-effects.html
  examples/multilingual/index.html
Due: none

docs(examples): split show/hide into two demos
  examples/basics/03-show-hide.html
Due: none

feat(parser): support *property CSS property syntax in toggle command
  examples/basics/03-show-hide.html
  examples/index.html
  examples/intermediate/08-smart-element-toggle.html
  examples/intermediate/09-toggle-attributes.html
  packages/core/src/commands/helpers/selector-type-detection.ts
  packages/core/src/parser/parser.ts
Due: core

fix(semantic): correct SOV language role extraction in optional groups
  packages/semantic/src/generators/pattern-generator.ts
  packages/semantic/src/parser/pattern-matcher.ts
Due: semantic

refactor(semantic): move possessive keywords to language profiles
  packages/core/playwright.config.ts
  packages/core/src/compatibility/browser-tests/classic-i18n.spec.ts
  packages/core/src/compatibility/browser-tests/hybrid-complete.spec.ts
  packages/core/src/compatibility/browser-tests/multilingual-e2e.spec.ts
  packages/core/src/compatibility/browser-tests/semantic-multilingual.spec.ts
  packages/core/src/compatibility/browser-tests/showcase-test.spec.ts
  packages/semantic/src/generators/profiles/arabic.ts
  packages/semantic/src/generators/profiles/bengali.ts
  packages/semantic/src/generators/profiles/chinese.ts
  packages/semantic/src/generators/profiles/english.ts
  packages/semantic/src/generators/profiles/french.ts
  packages/semantic/src/generators/profiles/german.ts
  packages/semantic/src/generators/profiles/hindi.ts
  packages/semantic/src/generators/profiles/indonesian.ts
  packages/semantic/src/generators/profiles/italian.ts
  packages/semantic/src/generators/profiles/japanese.ts
  packages/semantic/src/generators/profiles/korean.ts
  packages/semantic/src/generators/profiles/ms.ts
  packages/semantic/src/generators/profiles/polish.ts
  packages/semantic/src/generators/profiles/portuguese.ts
  packages/semantic/src/generators/profiles/quechua.ts
  packages/semantic/src/generators/profiles/russian.ts
  packages/semantic/src/generators/profiles/spanish.ts
  packages/semantic/src/generators/profiles/swahili.ts
  packages/semantic/src/generators/profiles/thai.ts
  packages/semantic/src/generators/profiles/tl.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/generators/profiles/types.ts
  packages/semantic/src/generators/profiles/ukrainian.ts
  packages/semantic/src/generators/profiles/vietnamese.ts
  packages/semantic/src/parser/pattern-matcher.ts
  packages/semantic/src/parser/utils/possessive-keywords.ts
  packages/semantic/test/parser/utils/possessive-keywords.test.ts
Due: core, semantic

refactor(semantic): complete tokenizer migration to profile-derived pattern
  packages/semantic/CLAUDE.md
  packages/semantic/TOKENIZER_MIGRATION_PLAN.md
  packages/semantic/scripts/add-language.ts
  packages/semantic/src/generators/profiles/index.ts
  packages/semantic/src/generators/profiles/marker-templates.ts
  packages/semantic/src/patterns/builders.ts
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/base.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/indonesian.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/swahili.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/test/tokenizers-profile-derived.test.ts
Due: semantic

perf(semantic): migrate Hindi/Bengali to O(1) lookups, add benchmark
  packages/semantic/TOKENIZER_MIGRATION_PLAN.md
  packages/semantic/scripts/benchmark-tokenizer-lookup.ts
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/hindi.ts
Due: semantic

perf(semantic): migrate all tokenizers to O(1) lookups, add CI benchmarks
  .github/workflows/semantic.yml
  .gitignore
  package-lock.json
  packages/semantic/package.json
  packages/semantic/scripts/benchmark-all.ts
  packages/semantic/scripts/migrate-to-map-lookup.ts
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/indonesian.ts
  packages/semantic/src/tokenizers/italian.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/polish.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/russian.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/swahili.ts
  packages/semantic/src/tokenizers/thai.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/src/tokenizers/ukrainian.ts
  packages/semantic/src/tokenizers/vietnamese.ts
Due: semantic

docs(semantic): update migration plan with O(1) patterns and CI details
  packages/semantic/TOKENIZER_MIGRATION_PLAN.md
Due: none

refactor(semantic): extract shared tokenizer utilities to base
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/base.ts
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/hindi.ts
  packages/semantic/src/tokenizers/indonesian.ts
  packages/semantic/src/tokenizers/italian.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/polish.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/russian.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/swahili.ts
  packages/semantic/src/tokenizers/thai.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/src/tokenizers/ukrainian.ts
  packages/semantic/src/tokenizers/vietnamese.ts
Due: semantic

refactor(semantic): migrate tokenizers to shared time unit extraction
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/index.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/test/tokenizers/base-utilities.test.ts
Due: semantic

docs(roadmap): update plan.md with current project status
  roadmap/plan.md
Due: none

docs(roadmap): remove redundant comment from compatibility line
  roadmap/plan.md
Due: none

fix(tests): resolve all remaining TypeScript type errors
  packages/core/src/commands/dom/__tests__/toggle-css-property.test.ts
  packages/core/src/parser/semantic-integration.test.ts
  packages/core/src/performance/command-benchmarks.test.ts
  packages/core/src/performance/expression-benchmarks.test.ts
  packages/core/src/runtime/cleanup-registry.test.ts
Due: core

test(browser): add comprehensive Playwright tests for i18n and semantic packages
  packages/core/src/compatibility/browser-tests/i18n-package.spec.ts
  packages/core/src/compatibility/browser-tests/semantic-package.spec.ts
  packages/core/untested-commands.txt
Due: core

test(core): fix command test failures in make, send, push-url, and go
  packages/core/src/commands/dom/__tests__/make.test.ts
  packages/core/src/commands/events/__tests__/send.test.ts
  packages/core/src/commands/events/__tests__/trigger.test.ts
  packages/core/src/commands/navigation/__tests__/go.test.ts
  packages/core/src/commands/navigation/__tests__/push-url.test.ts
Due: core

fix(core): improve trigger command and test reliability
  packages/core/src/commands/async/fetch.test.ts
  packages/core/src/commands/events/__tests__/trigger.test.ts
  packages/core/src/commands/events/trigger.ts
  packages/core/vitest.config.ts
Due: core

fix: improve type safety in public APIs and resolve TypeScript errors
  .eslintrc.json
  LINT_TYPECHECK_IMPROVEMENTS.md
  TECHNICAL_DEBT.md
  packages/core/.eslintrc.json
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/commands/advanced/async.test.ts
  packages/core/src/commands/async/fetch.test.ts
  packages/core/src/commands/control-flow/if.test.ts
  packages/core/src/commands/control-flow/repeat.test.ts
  packages/core/src/commands/decorators/index.ts
  packages/core/src/commands/dom/put.test.ts
  packages/core/src/commands/dom/swap.test.ts
  packages/core/src/commands/navigation/__tests__/push-url.test.ts
  packages/core/src/commands/utility/__tests__/pick.test.ts
  packages/core/src/experimental/binary-tree/serializer.ts
  packages/core/src/generator/extract-database.ts
  packages/core/src/multilingual/browser-e2e.spec.ts
  packages/core/src/parser/command-parsers/event-commands.ts
  packages/core/src/parser/hybrid/parser-core.ts
  packages/core/src/parser/parser.ts
  packages/core/src/runtime/runtime.ts
Due: core

fix: resolve all 14 failing tests from mock structure changes
  TEST_FAILURES_PLAN.md
  packages/core/src/commands/async/fetch.test.ts
  packages/core/src/commands/async/fetch.ts
  packages/core/src/commands/control-flow/if.test.ts
  packages/core/src/commands/control-flow/repeat.test.ts
  packages/core/src/multilingual/bridge.test.ts
Due: core

feat: implement API v2 with cleaner async-first design
  packages/core/src/api/hyperscript-api.test.ts
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/compatibility/browser-bundle.ts
  packages/core/src/compatibility/browser-modular.ts
  packages/core/src/dom/attribute-processor.ts
  packages/core/src/index.ts
  packages/core/src/parser/constructor-fix.test.ts
  roadmap/api-redesign-proposal.md
  roadmap/api-v2-implementation-plan.md
Due: core

docs: update API.md with v2 methods and deprecation notices
  packages/core/docs/API.md
Due: none

docs: add API v2 section to CLAUDE.md
  CLAUDE.md
Due: none

docs: mark API v2 Phase 1 and Phase 2 as complete
  roadmap/api-redesign-proposal.md
Due: none

feat: complete API v2 Phase 3 and 4 implementation
  cookbook/README.md
  packages/core/docs/EXAMPLES.md
  packages/core/docs/MIGRATION_V2.md
  packages/core/src/api/benchmarks.test.ts
  packages/core/src/api/edge-cases.test.ts
  packages/core/src/api/hyperscript-api.ts
Due: core

feat!: release v2.0.0 - remove all deprecated API methods
  packages/core/package.json
  packages/core/src/api/benchmarks.test.ts
  packages/core/src/api/hyperscript-api.test.ts
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/compatibility/boolean-logical-fix.test.ts
  packages/core/src/compatibility/comparison-operations-fix.test.ts
  packages/core/src/compatibility/official-expression-evaluation.test.ts
  packages/core/src/compatibility/type-conversion-fix.test.ts
  packages/core/src/hyperscript-parser.test.ts
  packages/core/src/index.ts
  packages/core/src/integration/end-to-end.test.ts
  packages/core/src/test-includes-integration.test.ts
Due: core

refactor: Phase 1 cleanup - remove dead code, fix version, add constants
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/compatibility/browser-bundle.ts
  packages/core/src/compatibility/browser-modular.ts
  packages/core/src/compatibility/hyperscript-adapter.ts
  roadmap/api-cleanup-plan.md
Due: core

docs: complete Phase 5 - update cleanup plan and CHANGELOG for v2.0.0
  CHANGELOG.md
  roadmap/api-cleanup-plan.md
Due: none

refactor: clean up DOM attribute processor module
  CLAUDE.md
  packages/core/src/compatibility/browser-bundle.ts
  packages/core/src/compatibility/browser-modular.ts
  packages/core/src/dom/attribute-processor.test.ts
  packages/core/src/dom/attribute-processor.ts
  packages/core/src/dom/minimal-attribute-processor.ts
Due: core

fix(examples): update CSS variables to gallery.css naming convention
  examples/advanced/01-color-cycling.html
  examples/advanced/03-sortable-list.html
  examples/advanced/04-infinite-scroll.html
  examples/advanced/05-state-machine.html
  examples/basics/01-hello-world.html
  examples/basics/02-toggle-class.html
  examples/basics/04-input-mirror.html
  examples/basics/05-counter.html
  examples/behaviors/demo.html
  examples/dictionary-editor/index.html
  examples/experiments/01-polyglot-playground.html
  examples/experiments/04-dynamic-injection.html
  examples/htmx-like/01-swap-morph.html
  examples/htmx-like/02-morph-comparison.html
  examples/htmx-like/02-view-transitions.html
  examples/htmx-like/03-history-navigation.html
  examples/htmx-like/04-multi-target-swaps.html
  examples/htmx-like/05-boosted-links.html
  examples/htmx-like/06-partial-validation.html
  examples/intermediate/01-form-validation.html
  examples/intermediate/02-fetch-data.html
  examples/intermediate/03-fade-effects.html
  examples/intermediate/04-tabs.html
  examples/intermediate/05-modal.html
  examples/intermediate/06-native-dialog.html
  examples/intermediate/07-dialog-toggle.html
  examples/intermediate/08-smart-element-toggle.html
  examples/intermediate/09-toggle-attributes.html
  examples/landing-page/clipboard-copy.html
  examples/landing-page/color-cycling.html
  examples/landing-page/js-interop.html
  examples/landing-page/send-events.html
  examples/landing-page/tell-command.html
  examples/multilingual/index.html
  examples/multilingual/semantic-demo.html
  examples/multilingual/showcase.html
  examples/playground/error-playground.html
  examples/playground/index.html
  examples/prism-loader.js
Due: none

fix(semantic): ESM compatibility for generate-indexes script
  packages/semantic/scripts/generate-indexes.ts
Due: none

feat(core): add unified registry system for commands, events, and context
  packages/core/src/registry/context-provider-registry.ts
  packages/core/src/registry/event-source-registry.ts
  packages/core/src/registry/examples/server-commands.ts
  packages/core/src/registry/examples/server-event-source.ts
  packages/core/src/registry/index.ts
  packages/core/src/registry/registry.test.ts
Due: core

feat(server-integration): add framework-agnostic request event source
  EVENT_SOURCE_INTEGRATION_ANALYSIS.md
  packages/server-integration/FRAMEWORK_SUPPORT.md
  packages/server-integration/README.md
  packages/server-integration/REQUEST_EVENT_SOURCE_IMPLEMENTATION.md
  packages/server-integration/src/events/example.ts
  packages/server-integration/src/events/index.ts
  packages/server-integration/src/events/request-event-source.test.ts
  packages/server-integration/src/events/request-event-source.ts
  packages/server-integration/src/middleware/adapters.ts
  packages/server-integration/src/middleware/express-routes.ts
  packages/server-integration/src/middleware/framework-agnostic-routes.ts
  packages/server-integration/src/middleware/hyperscript-routes.ts
  packages/server-integration/src/middleware/index.ts
Due: none

feat(testing-framework): add automated multilingual test system
  package-lock.json
  package.json
  packages/testing-framework/package.json
  packages/testing-framework/src/multilingual/README.md
  packages/testing-framework/src/multilingual/bundle-builder.ts
  packages/testing-framework/src/multilingual/cli.ts
  packages/testing-framework/src/multilingual/index.ts
  packages/testing-framework/src/multilingual/orchestrator.ts
  packages/testing-framework/src/multilingual/pattern-loader.ts
  packages/testing-framework/src/multilingual/reporters/console-reporter.ts
  packages/testing-framework/src/multilingual/reporters/json-reporter.ts
  packages/testing-framework/src/multilingual/reporters/regression-reporter.ts
  packages/testing-framework/src/multilingual/types.ts
  packages/testing-framework/src/multilingual/validators/parse-validator.ts
  packages/testing-framework/src/multilingual/validators/size-validator.ts
Due: none

fix(testing-framework): use stratified sampling for multilingual tests
  packages/testing-framework/src/multilingual/pattern-loader.ts
Due: none

feat(testing-framework): enhance multilingual test reporting and CI integration
  .github/workflows/test.yml
  packages/testing-framework/src/multilingual/reporters/console-reporter.ts
Due: none

feat(tron-backend): add TRON integration package for zero-copy serialization
  packages/tron-backend/README.md
  packages/tron-backend/package.json
  packages/tron-backend/src/adapters/adapter-interface.ts
  packages/tron-backend/src/backends/go/README.md
  packages/tron-backend/src/backends/go/adapter.go
  packages/tron-backend/src/backends/mojo/README.md
  packages/tron-backend/src/backends/mojo/adapter.mojo
  packages/tron-backend/src/backends/nodejs/adapter.ts
  packages/tron-backend/src/backends/rust/README.md
  packages/tron-backend/src/backends/rust/adapter.rs
  packages/tron-backend/src/index.ts
  packages/tron-backend/src/types/protocol.ts
  packages/tron-backend/tsconfig.json
Due: none

feat(semantic): Phase 4 - Multi-clause conjunction handling
  packages/semantic/src/parser/semantic-parser.ts
Due: semantic

fix(semantic): prevent proclitic splitting of keywords
  packages/semantic/src/tokenizers/arabic.ts
Due: semantic

fix(semantic): attach metadata to Arabic preposition tokens
  packages/semantic/src/tokenizers/arabic.ts
Due: semantic

fix(semantic): add diacritic-free forms as alternatives in Arabic profile
  packages/semantic/src/generators/profiles/arabic.ts
Due: semantic
