Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

fix(core): remove stale bind/persist entries from reference data
  packages/core/src/metadata.ts
  packages/core/src/reference/index.ts
Due: core

fix(adapter): handle event prefixes and re-process DOM on auto-register
  CLAUDE.md
  packages/hyperscript-adapter/demo/index.html
  packages/hyperscript-adapter/src/browser.ts
  packages/hyperscript-adapter/src/bundles/shared.ts
  packages/hyperscript-adapter/src/preprocessor.ts
  packages/hyperscript-adapter/src/slim-preprocessor.ts
  packages/hyperscript-adapter/test/preprocessor.test.ts
  packages/semantic/src/tokenizers/base.ts
Due: semantic

feat(semantic): improve SOV language pass rates (JA 13%→62%, KO 7%→54%, TR 9%→54%)
  packages/semantic/src/core-bridge.ts
  packages/semantic/src/parser/semantic-parser.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/turkish.ts
Due: semantic

fix(semantic): resolve all TypeScript errors in semantic-parser
  packages/semantic/src/parser/semantic-parser.ts
Due: semantic

docs: add hyperscript-adapter to VitePress docs, fix limitations
  apps/docs-site/.vitepress/config.ts
  apps/docs-site/en/packages/hyperscript-adapter.md
  apps/docs-site/en/packages/index.md
Due: none

feat(semantic): add 6 missing commands, derive SYNTAX from schemas, formalize has expression
  packages/core/src/expressions/logical/index.ts
  packages/hyperscript-adapter/README.md
  packages/hyperscript-adapter/src/derive-syntax.ts
  packages/hyperscript-adapter/src/hyperscript-renderer.ts
  packages/hyperscript-adapter/test/derive-syntax.test.ts
  packages/hyperscript-adapter/test/hyperscript-renderer.test.ts
  packages/hyperscript-adapter/test/preprocessor.test.ts
  packages/mcp-server/src/tools/language-docs.ts
  packages/mcp-server/src/tools/validation.ts
  packages/semantic/src/generators/command-schemas.ts
  packages/semantic/src/generators/profiles/arabic.ts
  packages/semantic/src/generators/profiles/bengali.ts
  packages/semantic/src/generators/profiles/chinese.ts
  packages/semantic/src/generators/profiles/english.ts
  packages/semantic/src/generators/profiles/french.ts
  packages/semantic/src/generators/profiles/german.ts
  packages/semantic/src/generators/profiles/hebrew.ts
  packages/semantic/src/generators/profiles/hindi.ts
  packages/semantic/src/generators/profiles/indonesian.ts
  packages/semantic/src/generators/profiles/italian.ts
  packages/semantic/src/generators/profiles/japanese.ts
  packages/semantic/src/generators/profiles/korean.ts
  packages/semantic/src/generators/profiles/ms.ts
  packages/semantic/src/generators/profiles/polish.ts
  packages/semantic/src/generators/profiles/portuguese.ts
  packages/semantic/src/generators/profiles/quechua.ts
  packages/semantic/src/generators/profiles/russian.ts
  packages/semantic/src/generators/profiles/spanish.ts
  packages/semantic/src/generators/profiles/spanishMexico.ts
  packages/semantic/src/generators/profiles/swahili.ts
  packages/semantic/src/generators/profiles/thai.ts
  packages/semantic/src/generators/profiles/tl.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/generators/profiles/ukrainian.ts
  packages/semantic/src/generators/profiles/vietnamese.ts
  packages/semantic/src/types.ts
  packages/semantic/test/official-examples.test.ts
Due: core, semantic

fix(mcp): populate get_command_docs, get_expression_docs, search_language_elements with data
  packages/mcp-server/src/tools/language-docs.ts
Due: none

chore(adapter): prepare @lokascript/hyperscript-adapter for npm publish
  .github/workflows/ci.yml
  .github/workflows/pre-publish-check.yml
  .github/workflows/publish.yml
  packages/hyperscript-adapter/LICENSE
  packages/hyperscript-adapter/package.json
Due: none

fix(ci): fix shell syntax error in publish workflow
  .github/workflows/pre-publish-check.yml
  .github/workflows/publish.yml
Due: none

chore(ci): switch to OIDC trusted publishing, remove NPM_TOKEN
  .github/workflows/publish.yml
Due: none

feat(lsp): add Language Server and VS Code extension packages
  package-lock.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/language-server/src/server.ts
  packages/language-server/tsconfig.json
  packages/vscode-extension/README.md
  packages/vscode-extension/language-configuration.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/syntaxes/hyperscript.tmLanguage.json
  packages/vscode-extension/tsconfig.json
Due: none

docs: design JavaScript AOT compiler for LokaScript
  docs-internal/proposals/aot-compiler-design.md
Due: none

test(language-server): add LSP integration tests with JSON-RPC
  packages/language-server/src/lsp-integration.test.ts
  packages/language-server/src/server.ts
Due: none

feat(aot-compiler): implement AOT compiler package based on design proposal
  packages/aot-compiler/README.md
  packages/aot-compiler/package.json
  packages/aot-compiler/src/cli/index.ts
  packages/aot-compiler/src/compiler/analyzer.ts
  packages/aot-compiler/src/compiler/aot-compiler.test.ts
  packages/aot-compiler/src/compiler/aot-compiler.ts
  packages/aot-compiler/src/index.ts
  packages/aot-compiler/src/optimizations/index.ts
  packages/aot-compiler/src/runtime/aot-runtime.ts
  packages/aot-compiler/src/scanner/html-scanner.test.ts
  packages/aot-compiler/src/scanner/html-scanner.ts
  packages/aot-compiler/src/transforms/command-transforms.ts
  packages/aot-compiler/src/transforms/event-transforms.ts
  packages/aot-compiler/src/transforms/expression-transforms.test.ts
  packages/aot-compiler/src/transforms/expression-transforms.ts
  packages/aot-compiler/src/transforms/index.ts
  packages/aot-compiler/src/types/aot-types.ts
  packages/aot-compiler/tsconfig.json
  packages/aot-compiler/tsup.config.ts
  packages/aot-compiler/vitest.config.ts
Due: none

feat(aot-compiler): implement AOT compiler package based on design proposal (#59)
  packages/aot-compiler/README.md
  packages/aot-compiler/package.json
  packages/aot-compiler/src/cli/index.ts
  packages/aot-compiler/src/compiler/analyzer.ts
  packages/aot-compiler/src/compiler/aot-compiler.test.ts
  packages/aot-compiler/src/compiler/aot-compiler.ts
  packages/aot-compiler/src/index.ts
  packages/aot-compiler/src/optimizations/index.ts
  packages/aot-compiler/src/runtime/aot-runtime.ts
  packages/aot-compiler/src/scanner/html-scanner.test.ts
  packages/aot-compiler/src/scanner/html-scanner.ts
  packages/aot-compiler/src/transforms/command-transforms.ts
  packages/aot-compiler/src/transforms/event-transforms.ts
  packages/aot-compiler/src/transforms/expression-transforms.test.ts
  packages/aot-compiler/src/transforms/expression-transforms.ts
  packages/aot-compiler/src/transforms/index.ts
  packages/aot-compiler/src/types/aot-types.ts
  packages/aot-compiler/tsconfig.json
  packages/aot-compiler/tsup.config.ts
  packages/aot-compiler/vitest.config.ts
Due: none

feat(language-server): add HTML extraction for hyperscript regions
  packages/language-server/src/server.ts
Due: none

feat(language-server): add multilingual hover and syntax highlighting support
  packages/language-server/src/lsp-integration.test.ts
  packages/language-server/src/server.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/scripts/generate-grammar.ts
  packages/vscode-extension/syntaxes/hyperscript-injection.tmLanguage.json
  packages/vscode-extension/syntaxes/hyperscript.tmLanguage.json
Due: none

chore: add global Python cache patterns to gitignore
  .gitignore
Due: none

feat(language-server): add canonical LSP metadata sync from core
  packages/core/package.json
  packages/core/src/lsp-metadata.ts
  packages/language-server/src/server.ts
  packages/language-server/src/sync-validation.test.ts
Due: core

refactor(skills): generate Agent Skills from MCP server content
  .github/skills/hyperscript/SKILL.md
  .github/skills/hyperscript/references/commands.md
  .github/skills/hyperscript/references/events.md
  .github/skills/hyperscript/references/expressions.md
  .github/skills/hyperscript/references/patterns.md
  package.json
  packages/mcp-server/src/resources/content.ts
  packages/mcp-server/src/resources/index.ts
  roadmap/mcp-tools-plan.md
  scripts/generate-skills.ts
  skills/hyperscript/SKILL.md
  skills/hyperscript/references/commands.md
  skills/hyperscript/references/expressions.md
  skills/hyperscript/references/multilingual.md
Due: none

chore(semantic): format pattern language arrays and update lockfile
  package-lock.json
Due: none

feat(vscode-extension): bundle semantic package for multilingual LSP support
  packages/language-server/src/server.ts
  packages/vscode-extension/package.json
Due: none

test(language-server): add language coverage tests for dynamic lookups
  packages/language-server/src/server.test.ts
Due: none

feat(aot-compiler): wire real parsers and fix codegen bugs
  packages/aot-compiler/src/compiler/aot-compiler.ts
  packages/aot-compiler/src/compiler/core-parser-adapter.test.ts
  packages/aot-compiler/src/compiler/core-parser-adapter.ts
  packages/aot-compiler/src/compiler/semantic-adapter.test.ts
  packages/aot-compiler/src/compiler/semantic-adapter.ts
  packages/aot-compiler/src/index.ts
Due: none

fix(aot-compiler): fix adapter correctness bugs and semantic adapter gaps
  packages/aot-compiler/package.json
  packages/aot-compiler/src/compiler/core-parser-adapter.test.ts
  packages/aot-compiler/src/compiler/core-parser-adapter.ts
  packages/aot-compiler/src/compiler/semantic-adapter.test.ts
  packages/aot-compiler/src/compiler/semantic-adapter.ts
  packages/aot-compiler/src/index.ts
  packages/aot-compiler/src/types/aot-types.ts
Due: none

refactor: add shared AST interchange format and improve parser APIs
  docs-internal/proposals/aot-compiler-design.md
  packages/aot-compiler/README.md
  packages/aot-compiler/package.json
  packages/aot-compiler/src/compiler/core-parser-adapter.ts
  packages/aot-compiler/src/compiler/semantic-adapter.ts
  packages/core/src/ast-utils/index.ts
  packages/core/src/ast-utils/interchange/from-core.ts
  packages/core/src/ast-utils/interchange/index.ts
  packages/core/src/ast-utils/interchange/types.ts
  packages/core/src/core/ast-property-utils.ts
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/index.ts
  packages/semantic/src/core-bridge.ts
  packages/semantic/src/index.ts
  packages/semantic/src/interchange/from-semantic.ts
  packages/semantic/src/interchange/index.ts
  packages/semantic/src/interchange/types.ts
Due: core, semantic

chore: remove outdated cookbook directory and related test scaffolding
  cookbook/FIX_INSTRUCTIONS.md
  cookbook/README.md
  cookbook/advanced/04-fade-and-remove.md
  cookbook/basics/01-hello-world-concat.md
  cookbook/complete-cookbook-test.html
  cookbook/complete-demo.html
  cookbook/cookbook-comparison-test.html
  cookbook/crash-test-minimal.html
  cookbook/crash-test-test7-breakdown.html
  cookbook/dom-manipulation/02-indeterminate-checkbox.md
  cookbook/dom-manipulation/03-toggle-active-class.md
  cookbook/fix-hyperfixi-demo.sh
  cookbook/full-cookbook-test.html
  cookbook/hyperfixi-analysis.md
  cookbook/pattern-compatibility-test.html
  packages/core/package.json
  packages/core/playwright.config.ts
  packages/core/src/compatibility/browser-tests/cookbook-patterns.spec.ts
  packages/core/test-page-loading.spec.ts
Due: core

fix(ci): switch publish workflow to OIDC trusted publishing
  .github/workflows/publish.yml
Due: none

chore: move tron-backend to experiments/ directory
  experiments/tron-backend/README.md
  experiments/tron-backend/package.json
  experiments/tron-backend/src/adapters/adapter-interface.ts
  experiments/tron-backend/src/backends/go/README.md
  experiments/tron-backend/src/backends/go/adapter.go
  experiments/tron-backend/src/backends/mojo/README.md
  experiments/tron-backend/src/backends/mojo/adapter.mojo
  experiments/tron-backend/src/backends/nodejs/adapter.ts
  experiments/tron-backend/src/backends/rust/README.md
  experiments/tron-backend/src/backends/rust/adapter.rs
  experiments/tron-backend/src/index.ts
  experiments/tron-backend/src/types/protocol.ts
  experiments/tron-backend/tsconfig.json
Due: none

feat(compilation-service): add behavior-level test generation from semantic roles
  packages/compilation-service/src/index.ts
  packages/compilation-service/src/operations/extract.ts
  packages/compilation-service/src/operations/types.ts
  packages/compilation-service/src/renderers/html-fixture.ts
  packages/compilation-service/src/renderers/playwright.ts
  packages/compilation-service/src/renderers/types.ts
  packages/compilation-service/src/service.ts
  packages/compilation-service/src/test-generator.test.ts
  packages/compilation-service/src/types.ts
Due: none

feat(compilation-service): add React renderer, HTTP wrapper, and MCP tools
  packages/compilation-service/package.json
  packages/compilation-service/src/http.test.ts
  packages/compilation-service/src/http.ts
  packages/compilation-service/src/index.ts
  packages/compilation-service/src/renderers/component-types.ts
  packages/compilation-service/src/renderers/react.test.ts
  packages/compilation-service/src/renderers/react.ts
  packages/compilation-service/src/service.ts
  packages/compilation-service/src/types.ts
  packages/compilation-service/tsup.config.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/compilation.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/compilation.ts
Due: none

docs: mark Phase 3 (React renderer, HTTP, MCP tools) as complete
  docs-internal/exploration/new-directions.md
Due: none

feat(compilation-service): add semantic diffing and production middleware
  packages/compilation-service/src/diff/diff.test.ts
  packages/compilation-service/src/diff/diff.ts
  packages/compilation-service/src/diff/types.ts
  packages/compilation-service/src/http.test.ts
  packages/compilation-service/src/http.ts
  packages/compilation-service/src/index.ts
  packages/compilation-service/src/middleware/body-limit.ts
  packages/compilation-service/src/middleware/logger.ts
  packages/compilation-service/src/middleware/timeout.ts
  packages/compilation-service/src/service.ts
  packages/compilation-service/src/types.ts
  packages/mcp-server/src/__tests__/compilation.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/compilation.ts
Due: none

test(compilation-service,mcp-server): add E2E tests and fix analysis fallback
  packages/compilation-service/src/e2e/compile-matrix.test.ts
  packages/compilation-service/src/e2e/error-paths.test.ts
  packages/compilation-service/src/e2e/middleware.test.ts
  packages/mcp-server/src/__tests__/compilation-dispatch.test.ts
  packages/mcp-server/src/tools/analysis.ts
Due: none

refactor(semantic): eliminate all `as any` casts (17 → 0)
  packages/semantic/src/ast-builder/expression-parser/parser.ts
  packages/semantic/src/generators/command-schemas.ts
  packages/semantic/src/generators/language-profiles.ts
  packages/semantic/src/generators/pattern-generator.ts
  packages/semantic/src/types.ts
  packages/semantic/src/validators/command-validator.ts
Due: semantic

refactor(core): expressions cleanup — dead code removal, tracking, validation bridge
  packages/core/src/expressions/advanced/index.test.ts
  packages/core/src/expressions/advanced/index.ts
  packages/core/src/expressions/array/index.test.ts
  packages/core/src/expressions/array/index.ts
  packages/core/src/expressions/as/index.ts
  packages/core/src/expressions/base-expression.ts
  packages/core/src/expressions/form/index.test.ts
  packages/core/src/expressions/form/index.ts
  packages/core/src/expressions/function-calls/index.test.ts
  packages/core/src/expressions/function-calls/index.ts
  packages/core/src/expressions/in/index.test.ts
  packages/core/src/expressions/in/index.ts
  packages/core/src/expressions/logical/index.ts
  packages/core/src/expressions/not/index.test.ts
  packages/core/src/expressions/not/index.ts
  packages/core/src/expressions/object/index.test.ts
  packages/core/src/expressions/object/index.ts
  packages/core/src/expressions/possessive/index.test.ts
  packages/core/src/expressions/possessive/index.ts
  packages/core/src/expressions/shared/index.ts
  packages/core/src/expressions/shared/validation-utils.ts
  packages/core/src/expressions/some/index.test.ts
  packages/core/src/expressions/some/index.ts
  packages/core/src/expressions/string/index.test.ts
  packages/core/src/expressions/string/index.ts
  packages/core/src/expressions/symbol/index.test.ts
  packages/core/src/expressions/symbol/index.ts
  packages/core/src/expressions/time/index.test.ts
  packages/core/src/expressions/time/index.ts
  packages/core/src/expressions/validation-helpers.ts
  packages/core/src/types/core.ts
Due: core

fix(core): audit runtime module — 10 fixes for correctness, safety, cleanup
  packages/core/src/runtime/command-adapter.ts
  packages/core/src/runtime/runtime-base.ts
  packages/core/src/runtime/runtime.test.ts
  packages/core/src/runtime/runtime.ts
  packages/core/src/runtime/temporal-modifiers.ts
Due: core

refactor(core): runtime improvements — GC fix, type safety, timeout, tests (+34 tests)
  packages/core/src/api/minimal-core.ts
  packages/core/src/runtime/cleanup-registry.ts
  packages/core/src/runtime/command-adapter.ts
  packages/core/src/runtime/minimal-command-registry.ts
  packages/core/src/runtime/minimal-runtime.ts
  packages/core/src/runtime/runtime-base.ts
  packages/core/src/runtime/runtime-minimal.ts
  packages/core/src/runtime/runtime.test.ts
  packages/core/src/types/result.ts
Due: core

refactor(core): audit core module — 6 phases of improvements (+58 tests, 3 TS migrations, evaluator split)
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/core/binary-expression-evaluator.ts
  packages/core/src/core/call-expression-evaluator.ts
  packages/core/src/core/context.test.ts
  packages/core/src/core/context.ts
  packages/core/src/core/dom.js
  packages/core/src/core/dom.ts
  packages/core/src/core/evaluator-types.ts
  packages/core/src/core/events.test.ts
  packages/core/src/core/events.ts
  packages/core/src/core/executor.js
  packages/core/src/core/executor.ts
  packages/core/src/core/expression-evaluator.test.ts
  packages/core/src/core/expression-evaluator.ts
  packages/core/src/core/parser.js
  packages/core/src/core/parser.ts
  packages/core/src/core/selector-evaluator.ts
  packages/core/src/core/template-literal-evaluator.ts
  packages/core/src/types/base-types.ts
Due: core

Path conditions:
  core: any of: packages/core/src/**
  semantic: any of: packages/semantic/src/**
  i18n: any of: packages/i18n/src/**
