Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

fix(semantic): complete VSO Arabic support and pattern generation fixes
  packages/semantic/src/parser/pattern-matcher.ts
  packages/semantic/src/patterns/builders.ts
  packages/semantic/src/patterns/event-handler/ar.ts
  packages/semantic/src/patterns/take/ar.ts
  packages/semantic/src/patterns/take/index.ts
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/test/generated-patterns.test.ts
  packages/semantic/test/generators.test.ts
  packages/semantic/test/pattern-comparison.test.ts
  packages/semantic/test/vso-arabic.test.ts
Due: semantic

fix(i18n): add event-modifier token kind support
  packages/i18n/src/utils/tokenizer-adapter.ts
Due: i18n

fix(bundles): complete bundle test matrix and fix minimal bundle
  CLAUDE.md
  examples/bundle-selector.js
  examples/index.html
  packages/core/src/compatibility/browser-bundle-minimal-v2.ts
  packages/core/src/compatibility/browser-tests/bundle-compatibility.spec.ts
Due: core

fix(bundles): fix minimal bundle global export and skip large bundle injection tests
  packages/core/rollup.browser-minimal.config.mjs
  packages/core/src/compatibility/browser-tests/bundle-compatibility.spec.ts
Due: core

fix(hybrid-hx): prevent double-processing of _="" attributes
  packages/core/src/compatibility/browser-bundle-hybrid-hx.ts
Due: core

fix(parser): add has/have operators for natural English grammar
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/parser/expression-parser.ts
  packages/core/src/parser/parser-constants.ts
  packages/core/src/parser/runtime.ts
  packages/patterns-reference/data/hyperfixi-extensions.json
Due: core

fix(types): resolve TypeScript errors in registry test files
  packages/core/src/registry/__tests__/conditional-types.test.ts
  packages/core/src/registry/event-source-integration.test.ts
Due: core

feat(i18n): add has/have operator translations for all 23 languages
  packages/i18n/src/dictionaries/ar.ts
  packages/i18n/src/dictionaries/bn.ts
  packages/i18n/src/dictionaries/de.ts
  packages/i18n/src/dictionaries/en.ts
  packages/i18n/src/dictionaries/es.ts
  packages/i18n/src/dictionaries/fr.ts
  packages/i18n/src/dictionaries/hi.ts
  packages/i18n/src/dictionaries/id.ts
  packages/i18n/src/dictionaries/it.ts
  packages/i18n/src/dictionaries/ja.ts
  packages/i18n/src/dictionaries/ko.ts
  packages/i18n/src/dictionaries/ms.ts
  packages/i18n/src/dictionaries/pl.ts
  packages/i18n/src/dictionaries/pt.ts
  packages/i18n/src/dictionaries/qu.ts
  packages/i18n/src/dictionaries/ru.ts
  packages/i18n/src/dictionaries/sw.ts
  packages/i18n/src/dictionaries/th.ts
  packages/i18n/src/dictionaries/tl.ts
  packages/i18n/src/dictionaries/tr.ts
  packages/i18n/src/dictionaries/uk.ts
  packages/i18n/src/dictionaries/vi.ts
  packages/i18n/src/dictionaries/zh.ts
  packages/i18n/src/grammar/grammar.test.ts
  packages/semantic/CLAUDE.md
Due: i18n

chore: mark paid-tier packages as private
  packages/analytics/package.json
  packages/developer-tools/package.json
  packages/multi-tenant/package.json
  packages/server-integration/package.json
  packages/smart-bundling/package.json
  packages/tron-backend/package.json
Due: none

chore(versioning): implement version management system and set to 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analytics/package.json
  packages/ast-toolkit/package.json
  packages/behaviors/package.json
  packages/component-schema/package.json
  packages/core/package.json
  packages/developer-tools/package.json
  packages/multi-tenant/package.json
  packages/patterns-reference/package.json
  packages/progressive-enhancement/package.json
  packages/server-integration/package.json
  packages/smart-bundling/package.json
  packages/ssr-support/package.json
  packages/template-integration/package.json
  packages/testing-framework/package.json
  packages/tron-backend/package.json
  scripts/bump-version.cjs
  scripts/convert-zod-to-lightweight.cjs
  scripts/set-version.cjs
  scripts/use-workspace-protocol.cjs
  scripts/validate-versions.cjs
Due: none

chore(publishing): prepare packages for npm publication
  packages/ast-toolkit/package.json
  packages/behaviors/package.json
  packages/component-schema/package.json
  packages/core/.npmignore
  packages/i18n/.npmignore
  packages/mcp-server/package.json
  packages/patterns-reference/package.json
  packages/semantic/.npmignore
  packages/ssr-support/package.json
  packages/template-integration/package.json
  packages/types-browser/package.json
  packages/vite-plugin/.npmignore
Due: none

docs: add comprehensive pre-publication validation report
  PRE_PUBLICATION_REPORT.md
Due: none

chore(changelog): add safeguards to prevent private package mentions
  CHANGELOG_GUIDELINES.md
  package-lock.json
  package.json
  scripts/bump-version.cjs
  scripts/list-packages.cjs
  scripts/validate-changelog.cjs
Due: none

docs: add changelog protection system documentation
  CHANGELOG_PROTECTION.md
Due: none

docs(rebuild): add comprehensive rebuild workflow and automation
  REBUILD_QUICKSTART.md
  REBUILD_WORKFLOW.md
  package.json
  scripts/rebuild-all.sh
Due: none

docs: add comprehensive maintenance guide
  MAINTENANCE.md
Due: none

fix(semantic): complete rebrand for Turkish, French, and Korean bundles
  packages/semantic/LANGUAGE_BUNDLES.md
  packages/semantic/src/bridge.ts
  packages/semantic/src/browser-ar.ts
  packages/semantic/src/browser-core.ts
  packages/semantic/src/browser-de.ts
  packages/semantic/src/browser-east-asian.ts
  packages/semantic/src/browser-en-tr.ts
  packages/semantic/src/browser-en.ts
  packages/semantic/src/browser-es-en.ts
  packages/semantic/src/browser-es.ts
  packages/semantic/src/browser-fr.ts
  packages/semantic/src/browser-id.ts
  packages/semantic/src/browser-ja.ts
  packages/semantic/src/browser-ko.ts
  packages/semantic/src/browser-lazy.ts
  packages/semantic/src/browser-priority.ts
  packages/semantic/src/browser-pt.ts
  packages/semantic/src/browser-qu.ts
  packages/semantic/src/browser-sw.ts
  packages/semantic/src/browser-tr.ts
  packages/semantic/src/browser-western.ts
  packages/semantic/src/browser-zh.ts
  packages/semantic/src/browser.ts
  packages/semantic/tsup.config.ts
Due: semantic

docs: add MVP documentation (33 pages)
  apps/docs-site/.vitepress/config.ts
  apps/docs-site/en/api/commands/animation.md
  apps/docs-site/en/api/commands/async.md
  apps/docs-site/en/api/commands/control-flow.md
  apps/docs-site/en/api/commands/dom.md
  apps/docs-site/en/api/compile.md
  apps/docs-site/en/api/execute.md
  apps/docs-site/en/api/expressions/conversion.md
  apps/docs-site/en/api/expressions/positional.md
  apps/docs-site/en/api/expressions/properties.md
  apps/docs-site/en/api/expressions/selectors.md
  apps/docs-site/en/api/hyperscript.md
  apps/docs-site/en/contributing/index.md
  apps/docs-site/en/cookbook/fade-remove.md
  apps/docs-site/en/cookbook/fetch-data.md
  apps/docs-site/en/cookbook/form-validation.md
  apps/docs-site/en/cookbook/hello-world.md
  apps/docs-site/en/cookbook/index.md
  apps/docs-site/en/cookbook/input-mirror.md
  apps/docs-site/en/cookbook/show-hide.md
  apps/docs-site/en/cookbook/toggle-classes.md
  apps/docs-site/en/guide/bundles.md
  apps/docs-site/en/guide/commands.md
  apps/docs-site/en/guide/context.md
  apps/docs-site/en/guide/custom-bundles.md
  apps/docs-site/en/guide/events.md
  apps/docs-site/en/guide/expressions.md
  apps/docs-site/en/guide/grammar.md
  apps/docs-site/en/guide/installation.md
  apps/docs-site/en/guide/multilingual.md
  apps/docs-site/en/guide/semantic-parser.md
  apps/docs-site/en/guide/vite-plugin.md
  apps/docs-site/en/packages/core.md
  apps/docs-site/en/packages/i18n.md
  apps/docs-site/en/packages/index.md
  apps/docs-site/en/packages/semantic.md
  apps/docs-site/en/packages/vite-plugin.md
Due: none

docs: remove fly.dev links from README
  README.md
Due: none

fix(testing-framework): add LanguageCode type annotations to fix TS7053 error
  packages/testing-framework/src/multilingual/tools/analyze-failures.ts
Due: none

fix(ci): add core and patterns-reference build steps before typecheck
  .github/workflows/test.yml
Due: none

chore(ci): consolidate test matrix to Node 20.x only
  .github/workflows/test.yml
Due: none

fix(ci): resolve vite-plugin module resolution and Playwright test issues
  .github/workflows/ci.yml
  packages/vite-plugin/package.json
Due: none

fix(ci): align vitest and coverage-v8 versions to resolve @bcoe/v8-coverage hoisting issue
  package-lock.json
  packages/core/package.json
Due: none

fix(ci): resolve browser tests and multilingual validation failures
  .github/workflows/ci.yml
  packages/patterns-reference/scripts/init-db.ts
Due: none

fix(ci): resolve browser bundle naming mismatches (HyperFixi → LokaScript)
  examples/multilingual/showcase.html
  packages/core/package.json
  packages/core/rollup.browser-multilingual.config.mjs
  packages/core/src/compatibility/browser-bundle-multilingual.ts
  packages/i18n/rollup.config.mjs
  packages/semantic/package.json
Due: core

chore: mark Pro tier packages as private
  packages/ast-toolkit/package.json
  packages/component-schema/package.json
  packages/ssr-support/package.json
  packages/template-integration/package.json
Due: none

chore: remove unused progressive-enhancement package
  packages/developer-tools/src/cli.ts
  packages/developer-tools/src/generator.ts
  packages/progressive-enhancement/README.md
  packages/progressive-enhancement/package.json
  packages/progressive-enhancement/src/detector.test.ts
  packages/progressive-enhancement/src/detector.ts
  packages/progressive-enhancement/src/enhancer.test.ts
  packages/progressive-enhancement/src/enhancer.ts
  packages/progressive-enhancement/src/index.ts
  packages/progressive-enhancement/src/levels.test.ts
  packages/progressive-enhancement/src/levels.ts
  packages/progressive-enhancement/src/test-setup.ts
  packages/progressive-enhancement/src/types.ts
  packages/progressive-enhancement/tsconfig.json
  packages/progressive-enhancement/tsup.config.ts
  packages/progressive-enhancement/vitest.config.ts
Due: none

chore(release): prepare v1.0.0-rc.1
  .github/workflows/ci.yml
  .github/workflows/test.yml
  apps/docs-site/package.json
  apps/patterns-browser/package.json
  package-lock.json
  packages/analytics/package.json
  packages/ast-toolkit/package.json
  packages/behaviors/package.json
  packages/component-schema/package-lock.json
  packages/component-schema/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/developer-tools/package.json
  packages/i18n/package.json
  packages/mcp-server/package.json
  packages/multi-tenant/package.json
  packages/patterns-reference/package.json
  packages/semantic/package.json
  packages/server-integration/package-lock.json
  packages/server-integration/package.json
  packages/smart-bundling/package.json
  packages/ssr-support/package.json
  packages/template-integration/package-lock.json
  packages/template-integration/package.json
  packages/testing-framework/package.json
  packages/tron-backend/package.json
  packages/types-browser/package.json
  packages/vite-plugin/package.json
Due: none

chore: rename repository from hyperfixi to lokascript
  CHANGELOG.md
  LOKASCRIPT_REBRAND_ASSESSMENT.md
  MAINTENANCE.md
  README.md
  RELEASE_CHECKLIST.md
  RELEASE_GUIDE.md
  clients/js-client/package.json
  docs/PUBLISHING-READINESS-PLAN.md
  docs/exports-guide.md
  examples/index.html
  package.json
  packages/behaviors/package.json
  packages/component-schema/README.md
  packages/component-schema/package.json
  packages/core/package.json
  packages/semantic/package.json
  packages/ssr-support/package.json
  packages/template-integration/README.md
  packages/template-integration/package.json
  packages/tron-backend/package.json
  packages/vite-plugin/package.json
  roadmap/server-side-tdd.md
Due: none

docs(vitepress): update documentation from HyperFixi to LokaScript
  apps/docs-site/.vitepress/config.ts
  apps/docs-site/.vitepress/theme/components/HyperscriptPlayground.vue
  apps/docs-site/en/api/index.md
  apps/docs-site/en/contributing/index.md
  apps/docs-site/en/cookbook/index.md
  apps/docs-site/en/guide/index.md
  apps/docs-site/en/index.md
Due: none

ci: add ast-toolkit build step before developer-tools
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(ci): add missing dependencies for ast-toolkit build
  .github/workflows/ci.yml
Due: none

fix(ci): resolve CI failures across testing-framework, server-integration, and smart-bundling
  .github/workflows/test.yml
  package-lock.json
  packages/server-integration/src/service/hyperscript-compiler.ts
  packages/smart-bundling/package.json
  packages/smart-bundling/src/bundler.ts
Due: none

fix(tests): resolve bundle loading and semantic test failures
  examples/bundle-loader.js
  packages/core/compatibility-test.html
  packages/core/src/compatibility/browser-tests/semantic-package.spec.ts
Due: core

feat(ci): update workflows and scripts for lokascript bundles (Phases 5+10)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  packages/core/check-unminified.mjs
  packages/core/scripts/analyze-usage.mjs
  packages/core/scripts/test-gallery.mjs
Due: none

Path conditions:
  core: any of: packages/core/src/**
  semantic: any of: packages/semantic/src/**
  i18n: any of: packages/i18n/src/**
