Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    # Project coverage - informational only (doesn't block PRs)
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    # Patch coverage - informational for now, can enforce later
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

flags:
  core:
    paths:
      - packages/core/src/**
    carryforward: true
  semantic:
    paths:
      - packages/semantic/src/**
    carryforward: true
  i18n:
    paths:
      - packages/i18n/src/**
    carryforward: true

comment:
  layout: 'header, diff, flags, components'
  behavior: default
  require_changes: true

refactor(htmx): consolidate event dispatch logic with helper method
  packages/core/src/htmx/htmx-attribute-processor.ts
Due: core

refactor(htmx): extract event name constants for type safety
  packages/core/src/htmx/htmx-attribute-processor.ts
Due: core

chore(core): bump version to 1.0.0-rc.2
  packages/core/package.json
  packages/core/src/metadata.ts
Due: core

fix(ci): correct build order based on dependency graph
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

feat(ci): switch to OIDC trusted publishing for npm
  .github/workflows/publish.yml
Due: none

feat(ci): add mcp-server to CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix(ci): improve npm authentication diagnostics and handling
  .github/workflows/publish.yml
Due: none

fix(ci): handle git conflicts in publish workflow
  .github/workflows/publish.yml
Due: none

fix: sync package-lock.json versions to 1.1.1
  package-lock.json
Due: none

fix(build): improve package build reliability and export validation
  .github/workflows/ci.yml
  .github/workflows/pre-publish-check.yml
  packages/core/package.json
  packages/core/rollup.config.mjs
  packages/core/scripts/build-browser-bundles.mjs
  packages/i18n/package.json
  packages/i18n/tsup.config.ts
  packages/vite-plugin/src/generator.ts
  scripts/validate-exports.mjs
Due: none

fix(test): increase performance test threshold for CI reliability
  packages/core/src/expressions/properties/impl/index.test.ts
Due: core

fix(vite-plugin): strip generic array type annotations (Promise<void>[])
  packages/vite-plugin/src/generator.ts
Due: none

fix(vite-plugin): strip non-null assertions (property! -> property)
  packages/vite-plugin/src/generator.ts
Due: none

chore: add version sync script and align all packages to 1.1.4
  package-lock.json
  packages/core/package.json
  packages/i18n/package.json
  packages/mcp-server/package.json
  packages/patterns-reference/package.json
  packages/semantic/package.json
  scripts/sync-versions.mjs
Due: none

refactor(ci): auto-sync all package versions on publish
  .github/workflows/publish.yml
Due: none

feat(semantic, vite-plugin): add ./core subpath export for tree-shaken semantic imports
  packages/semantic/package.json
  packages/semantic/src/core.ts
  packages/semantic/tsup.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/semantic-integration.test.ts
  packages/vite-plugin/src/semantic-integration.ts
Due: semantic

test(core): add comprehensive test coverage for 18 untested commands
  packages/core/src/commands/advanced/__tests__/js.test.ts
  packages/core/src/commands/animation/__tests__/settle.test.ts
  packages/core/src/commands/animation/__tests__/transition.test.ts
  packages/core/src/commands/behaviors/__tests__/install.test.ts
  packages/core/src/commands/content/__tests__/append.test.ts
  packages/core/src/commands/control-flow/__tests__/halt.test.ts
  packages/core/src/commands/control-flow/__tests__/unless.test.ts
  packages/core/src/commands/data/__tests__/bind.test.ts
  packages/core/src/commands/data/__tests__/default.test.ts
  packages/core/src/commands/data/__tests__/get.test.ts
  packages/core/src/commands/data/__tests__/persist.test.ts
  packages/core/src/commands/dom/__tests__/process-partials.test.ts
  packages/core/src/commands/execution/__tests__/call.test.ts
  packages/core/src/commands/navigation/__tests__/replace-url.test.ts
  packages/core/src/commands/templates/__tests__/render.test.ts
  packages/core/src/commands/utility/__tests__/beep.test.ts
  packages/core/src/commands/utility/__tests__/copy.test.ts
  packages/core/src/commands/utility/__tests__/tell.test.ts
Due: core

test(core): add tests for command helpers tier 1 (batch 2)
  packages/core/src/commands/helpers/__tests__/class-manipulation.test.ts
  packages/core/src/commands/helpers/__tests__/condition-helpers.test.ts
  packages/core/src/commands/helpers/__tests__/dom-mutation.test.ts
  packages/core/src/commands/helpers/__tests__/event-helpers.test.ts
  packages/core/src/commands/helpers/__tests__/temporal-modifiers.test.ts
Due: core

test(core): add tests for command helpers tier 2 (batch 3)
  packages/core/src/commands/helpers/__tests__/batch-dom-operations.test.ts
  packages/core/src/commands/helpers/__tests__/element-property-access.test.ts
  packages/core/src/commands/helpers/__tests__/smart-element.test.ts
Due: core

test(core): add tests for command helpers tier 3+4 (batch 4)
  packages/core/src/commands/helpers/__tests__/attribute-manipulation.test.ts
  packages/core/src/commands/helpers/__tests__/error-helpers.test.ts
  packages/core/src/commands/helpers/__tests__/input-validator.test.ts
  packages/core/src/commands/helpers/__tests__/numeric-target-parser.test.ts
  packages/core/src/commands/helpers/__tests__/style-manipulation.test.ts
  packages/core/src/commands/helpers/__tests__/url-argument-parser.test.ts
  packages/core/src/commands/helpers/__tests__/url-validation.test.ts
  packages/core/src/commands/helpers/__tests__/visibility-target-parser.test.ts
Due: core

test(core): add parser helpers tests and shared mock utility (batch 5 partial)
  packages/core/src/__test-utils__/parser-context-mock.ts
  packages/core/src/parser/helpers/__tests__/ast-helpers.test.ts
  packages/core/src/parser/helpers/__tests__/token-helpers.test.ts
Due: core

fix(ci): wrap vitest commands with timeout to handle esbuild daemon hang
  .github/workflows/ci.yml
  packages/core/vitest.config.ts
Due: none

fix: scope .gitignore build/ pattern to root only
  .gitignore
Due: none

test(parser): add Phase 1 & 2 test coverage for zero-coverage files
  packages/core/src/parser/full-parser.test.ts
  packages/core/src/parser/hybrid/aliases.test.ts
  packages/core/src/parser/hybrid/parser-core.test.ts
  packages/core/src/parser/hybrid/tokenizer.test.ts
  packages/core/src/parser/parser-interface.test.ts
  packages/core/src/parser/regex-parser.test.ts
  packages/core/src/parser/token-consumer.test.ts
Due: core

test: Phase 3 command parser coverage (WIP)
  packages/core/src/parser/command-parsers/__tests__/animation-commands.test.ts
  packages/core/src/parser/command-parsers/__tests__/utility-commands-simple.test.ts
Due: core

test: add dom-commands parser tests (2/17 passing)
  packages/core/src/parser/command-parsers/__tests__/dom-commands.test.ts
Due: core

refactor(parser): add position checkpoints, standardize builder, decompose parseSetCommand
  packages/core/src/__test-utils__/parser-context-mock.ts
  packages/core/src/parser/command-node-builder.ts
  packages/core/src/parser/command-parsers/__tests__/async-commands.test.ts
  packages/core/src/parser/command-parsers/__tests__/control-flow-commands.test.ts
  packages/core/src/parser/command-parsers/__tests__/variable-commands.test.ts
  packages/core/src/parser/command-parsers/async-commands.ts
  packages/core/src/parser/command-parsers/control-flow-commands.ts
  packages/core/src/parser/command-parsers/event-commands.ts
  packages/core/src/parser/command-parsers/variable-commands.ts
  packages/core/src/parser/parser-types.ts
  packages/core/src/parser/parser.ts
  packages/core/src/types/core.ts
Due: core

feat(parser): add compound parsers for bind/persist, fix 3 bugs, add tests
  packages/core/src/commands/data/bind.ts
  packages/core/src/commands/data/persist.ts
  packages/core/src/commands/decorators/index.ts
  packages/core/src/compatibility/browser-tests/bind-persist.spec.ts
  packages/core/src/compatibility/eval-hyperscript.ts
  packages/core/src/parser/__tests__/bind-persist-parsing.test.ts
  packages/core/src/parser/command-parsers/data-commands.ts
  packages/core/src/parser/command-parsers/utility-commands.ts
  packages/core/src/parser/parser-constants.ts
  packages/core/src/types/command-metadata.ts
Due: core

Remove bind and persist commands
  packages/core/src/commands/data/__tests__/bind.test.ts
  packages/core/src/commands/data/__tests__/persist.test.ts
  packages/core/src/commands/data/bind.ts
  packages/core/src/commands/data/persist.ts
  packages/core/src/commands/index.ts
  packages/core/src/compatibility/browser-tests/bind-persist.spec.ts
  packages/core/src/compatibility/eval-hyperscript.ts
  packages/core/src/parser/__tests__/bind-persist-parsing.test.ts
  packages/core/src/parser/command-parsers/data-commands.ts
  packages/core/src/parser/command-parsers/utility-commands.ts
  packages/core/src/parser/parser-constants.ts
  packages/core/src/runtime/runtime.ts
  packages/i18n/src/dictionaries/ar.ts
  packages/i18n/src/dictionaries/de.ts
  packages/i18n/src/dictionaries/derive.ts
  packages/i18n/src/dictionaries/en.ts
  packages/i18n/src/dictionaries/es.ts
  packages/i18n/src/dictionaries/fr.ts
  packages/i18n/src/dictionaries/hi.ts
  packages/i18n/src/dictionaries/id.ts
  packages/i18n/src/dictionaries/it.ts
  packages/i18n/src/dictionaries/ja.ts
  packages/i18n/src/dictionaries/ko.ts
  packages/i18n/src/dictionaries/ms.ts
  packages/i18n/src/dictionaries/pl.ts
  packages/i18n/src/dictionaries/pt.ts
  packages/i18n/src/dictionaries/qu.ts
  packages/i18n/src/dictionaries/ru.ts
  packages/i18n/src/dictionaries/sw.ts
  packages/i18n/src/dictionaries/tl.ts
  packages/i18n/src/dictionaries/tr.ts
  packages/i18n/src/dictionaries/uk.ts
  packages/i18n/src/dictionaries/vi.ts
  packages/i18n/src/dictionaries/zh.ts
Due: core, i18n

chore: complete bind/persist removal from bundles, docs, and tests
  apps/docs-site/en/api/commands/data.md
  apps/docs-site/en/api/index.md
  apps/docs-site/en/guide/commands.md
  apps/docs-site/en/guide/context.md
  apps/docs-site/en/guide/custom-bundles.md
  examples/dictionary-editor/index.html
  packages/core/bundle-configs/README.md
  packages/core/docs/commands/REFERENCE.md
  packages/core/docs/commands/commands.json
  packages/core/src/compatibility/browser-bundle-multilingual.ts
  packages/core/src/compatibility/browser-bundle-semantic-complete.ts
  packages/core/src/runtime/runtime-experimental.ts
  packages/core/untested-commands.txt
  packages/i18n/src/grammar/direct-mappings.ts
  packages/vite-plugin/src/generator.test.ts
Due: core, i18n

feat(perf): add AST caching, chunked processing, and lazy parsing
  packages/core/src/api/ast-cache.test.ts
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/dom/attribute-processor.test.ts
  packages/core/src/dom/attribute-processor.ts
Due: core

fix(perf): fix lazy parsing bugs, upgrade cache to LRU, surface errors
  packages/core/src/api/ast-cache.test.ts
  packages/core/src/api/edge-cases.test.ts
  packages/core/src/api/hyperscript-api.ts
  packages/core/src/dom/attribute-processor.test.ts
  packages/core/src/dom/attribute-processor.ts
Due: core

feat(parser): add original _hyperscript-compatible fetch syntax
  packages/core/src/commands/async/fetch.test.ts
  packages/core/src/commands/async/fetch.ts
  packages/core/src/parser/command-parsers/__tests__/utility-commands-simple.test.ts
  packages/core/src/parser/command-parsers/utility-commands.ts
  packages/core/src/parser/helpers/parsing-helpers.ts
  packages/core/src/parser/hybrid/parser-core.ts
  packages/core/src/parser/parser.ts
Due: core

fix(parser): handle @attr tokens in possessive expressions
  packages/core/src/expressions/property-access-utils.ts
  packages/core/src/parser/parser.ts
  packages/core/src/parser/possessive-attr.test.ts
Due: core

fix(engine): resolve 5 runtime/parser bugs for _hyperscript compat
  packages/core/src/commands/data/set.ts
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/dom/attribute-processor.ts
  packages/core/src/parser/command-parsers/utility-commands.ts
  packages/core/src/parser/parser.ts
  packages/core/src/runtime/runtime-base.ts
Due: core

fix(engine): resolve 6 runtime/parser bugs for put, toggle, and @attr handling
  packages/core/src/commands/dom/__tests__/toggle.test.ts
  packages/core/src/commands/dom/put.test.ts
  packages/core/src/commands/dom/put.ts
  packages/core/src/commands/helpers/selector-type-detection.ts
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/expressions/shared/number-utils.ts
  packages/core/src/parser/parser.ts
  packages/core/src/parser/possessive-attr.test.ts
  packages/core/src/parser/runtime.ts
  packages/core/src/parser/tokenizer.test.ts
  packages/core/src/parser/tokenizer.ts
Due: core

fix(toggle): support possessive syntax for @attribute toggling
  examples/intermediate/09-toggle-attributes.html
  packages/core/src/commands/helpers/element-property-access.ts
  packages/core/src/commands/helpers/property-target.ts
  packages/core/src/compatibility/browser-tests/toggle-attributes-comprehensive.spec.ts
  packages/core/src/core/base-expression-evaluator.ts
  packages/core/src/parser/expression-parser.ts
Due: core

docs: assess feasibility of adapting semantic/i18n for original _hyperscript
  docs-internal/analysis/hyperscript-compatibility-assessment.md
Due: none

feat(adapter): add @lokascript/hyperscript-adapter for original _hyperscript
  CLAUDE.md
  package-lock.json
  packages/hyperscript-adapter/CLAUDE.md
  packages/hyperscript-adapter/README.md
  packages/hyperscript-adapter/demo/index.html
  packages/hyperscript-adapter/package.json
  packages/hyperscript-adapter/src/browser-lite.ts
  packages/hyperscript-adapter/src/browser.ts
  packages/hyperscript-adapter/src/bundles/ar.ts
  packages/hyperscript-adapter/src/bundles/de.ts
  packages/hyperscript-adapter/src/bundles/east-asian.ts
  packages/hyperscript-adapter/src/bundles/es.ts
  packages/hyperscript-adapter/src/bundles/fr.ts
  packages/hyperscript-adapter/src/bundles/id.ts
  packages/hyperscript-adapter/src/bundles/ja.ts
  packages/hyperscript-adapter/src/bundles/ko.ts
  packages/hyperscript-adapter/src/bundles/pt.ts
  packages/hyperscript-adapter/src/bundles/shared.ts
  packages/hyperscript-adapter/src/bundles/tr.ts
  packages/hyperscript-adapter/src/bundles/western.ts
  packages/hyperscript-adapter/src/bundles/zh.ts
  packages/hyperscript-adapter/src/index.ts
  packages/hyperscript-adapter/src/language-resolver.ts
  packages/hyperscript-adapter/src/plugin.ts
  packages/hyperscript-adapter/src/preprocessor.ts
  packages/hyperscript-adapter/src/slim-plugin.ts
  packages/hyperscript-adapter/src/slim-preprocessor.ts
  packages/hyperscript-adapter/test/language-resolver.test.ts
  packages/hyperscript-adapter/test/plugin.test.ts
  packages/hyperscript-adapter/test/preprocessor.test.ts
  packages/hyperscript-adapter/tsconfig.json
  packages/hyperscript-adapter/tsup.config.ts
  packages/hyperscript-adapter/vitest.config.ts
  packages/semantic/src/core.ts
Due: semantic
