Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

chore(core): remove dead LSPDatabaseExtractor generator module
  packages/core/src/generator/extract-database.ts
  packages/core/vitest.config.ts
Due: core

docs: add @lokascript/siren integration plan
  PLAN-siren.md
Due: none

refactor(i18n): audit improvements — DRY constants, complete exports, +33 tests
  packages/i18n/src/browser.ts
  packages/i18n/src/dictionaries/index.ts
  packages/i18n/src/grammar/index.ts
  packages/i18n/src/grammar/transformer.ts
  packages/i18n/src/index.ts
  packages/i18n/src/parser/bn.ts
  packages/i18n/src/parser/hi.ts
  packages/i18n/src/parser/index.ts
  packages/i18n/src/parser/it.ts
  packages/i18n/src/parser/ms.ts
  packages/i18n/src/parser/pl.ts
  packages/i18n/src/parser/ru.ts
  packages/i18n/src/parser/th.ts
  packages/i18n/src/parser/tl.ts
  packages/i18n/src/parser/uk.ts
  packages/i18n/src/parser/vi.ts
  packages/i18n/src/runtime.test.ts
  packages/i18n/src/runtime.ts
  packages/i18n/src/utils/locale.test.ts
  packages/i18n/src/utils/locale.ts
Due: i18n

docs(siren): add README.md and CLAUDE.md for @lokascript/siren
  packages/siren/CLAUDE.md
  packages/siren/README.md
Due: none

fix(ci): resolve browser test timeouts and false failures
  .github/workflows/ci.yml
  packages/core/src/compatibility/browser-tests/gallery-examples.spec.ts
  packages/core/src/compatibility/browser-tests/multilingual-e2e.spec.ts
  packages/core/src/compatibility/browser-tests/semantic-multilingual.spec.ts
Due: core

chore: remove stale progressive-enhancement references from docs
  docs-internal/build/CHANGELOG_GUIDELINES.md
  docs-internal/build/CHANGELOG_PROTECTION.md
  docs-internal/release/PRE_PUBLICATION_REPORT.md
  docs-internal/release/PUBLICATION_PLAN.md
  docs-internal/release/RELEASE_CHECKLIST.md
  docs-internal/release/RELEASE_COMMANDS.md
  docs-internal/release/RELEASE_GUIDE.md
Due: none

refactor: move ssr-support to experiments/, remove from publish docs
  docs-internal/build/CHANGELOG_GUIDELINES.md
  docs-internal/build/CHANGELOG_PROTECTION.md
  docs-internal/release/PRE_PUBLICATION_REPORT.md
  docs-internal/release/PUBLICATION_PLAN.md
  docs-internal/release/RELEASE_CHECKLIST.md
  docs-internal/release/RELEASE_COMMANDS.md
  docs-internal/release/RELEASE_GUIDE.md
  experiments/ssr-support/README.md
  experiments/ssr-support/package.json
  experiments/ssr-support/rollup.config.js
  experiments/ssr-support/src/cache.test.ts
  experiments/ssr-support/src/cache.ts
  experiments/ssr-support/src/critical-css.ts
  experiments/ssr-support/src/engine.test.ts
  experiments/ssr-support/src/engine.ts
  experiments/ssr-support/src/index.ts
  experiments/ssr-support/src/middleware.ts
  experiments/ssr-support/src/seo.test.ts
  experiments/ssr-support/src/seo.ts
  experiments/ssr-support/src/static-generator.ts
  experiments/ssr-support/src/test-setup.ts
  experiments/ssr-support/src/types.ts
  experiments/ssr-support/src/types/jsdom.d.ts
  experiments/ssr-support/src/utils.test.ts
  experiments/ssr-support/src/utils.ts
  experiments/ssr-support/tsconfig.json
  experiments/ssr-support/vitest.config.ts
  package-lock.json
  packages/developer-tools/src/generator.ts
Due: none

refactor: move multi-tenant to experiments/
  docs-internal/build/CHANGELOG_GUIDELINES.md
  docs-internal/build/CHANGELOG_PROTECTION.md
  docs-internal/release/PRE_PUBLICATION_REPORT.md
  docs-internal/release/PUBLICATION_PLAN.md
  experiments/multi-tenant/README.md
  experiments/multi-tenant/package.json
  experiments/multi-tenant/src/customization.ts
  experiments/multi-tenant/src/enhanced-multi-tenant.test.ts
  experiments/multi-tenant/src/enhanced-multi-tenant.ts
  experiments/multi-tenant/src/enhanced-types.ts
  experiments/multi-tenant/src/index.ts
  experiments/multi-tenant/src/isolation.ts
  experiments/multi-tenant/src/middleware.ts
  experiments/multi-tenant/src/tenant-manager.ts
  experiments/multi-tenant/src/types.ts
  experiments/multi-tenant/tsconfig.json
  experiments/multi-tenant/tsup.config.ts
  package-lock.json
Due: none

refactor: move analytics to experiments/
  docs-internal/build/CHANGELOG_GUIDELINES.md
  docs-internal/build/CHANGELOG_PROTECTION.md
  docs-internal/release/PRE_PUBLICATION_REPORT.md
  docs-internal/release/PUBLICATION_PLAN.md
  experiments/analytics/README.md
  experiments/analytics/package.json
  experiments/analytics/src/browser.ts
  experiments/analytics/src/collector.ts
  experiments/analytics/src/enhanced-analytics.test.ts
  experiments/analytics/src/enhanced-analytics.ts
  experiments/analytics/src/index.ts
  experiments/analytics/src/tracker.ts
  experiments/analytics/src/types.ts
  experiments/analytics/tsconfig.json
  experiments/analytics/tsup.config.ts
  package-lock.json
Due: none

chore: remove business plan docs from public repo
  docs-internal/analysis/IMPLEMENTATION_SUMMARY.md
  docs-internal/release/PUBLICATION_PLAN.md
  experiments/server-integration/docs/VALUE_PROPOSITION.md
Due: none

chore: update workflow bundle names from lokascript to hyperfixi
  .github/workflows/archive/benchmark.yml
  .github/workflows/pre-publish-check.yml
Due: none

fix(lint): avoid prettier boundary in debug.ts
  packages/core/src/utils/debug.ts
Due: core

fix(typecheck): add jsdom type stub to core package
  packages/core/src/jsdom.d.ts
Due: core

fix: add compilation-service build step and 'current' version option to publish workflows
  .github/workflows/pre-publish-check.yml
  .github/workflows/publish.yml
Due: none

fix: add aot-compiler to build chain before compilation-service
  .github/workflows/pre-publish-check.yml
  .github/workflows/publish.yml
Due: none

fix: skip already-published packages instead of failing
  .github/workflows/publish.yml
Due: none

feat(semantic): add 14 idiom tests, 4 normalizers, cleanup EXTRAS arrays
  packages/semantic/src/generators/profiles/japanese.ts
  packages/semantic/src/generators/profiles/spanish.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/hindi.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/morphology/bengali-normalizer.ts
  packages/semantic/src/tokenizers/morphology/hindi-normalizer.ts
  packages/semantic/src/tokenizers/morphology/index.ts
  packages/semantic/src/tokenizers/morphology/quechua-normalizer.ts
  packages/semantic/src/tokenizers/morphology/tagalog-normalizer.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/test/bengali-idioms.test.ts
  packages/semantic/test/french-idioms.test.ts
  packages/semantic/test/german-idioms.test.ts
  packages/semantic/test/hebrew-idioms.test.ts
  packages/semantic/test/hindi-idioms.test.ts
  packages/semantic/test/hindi-integration.test.ts
  packages/semantic/test/indonesian-idioms.test.ts
  packages/semantic/test/malay-idioms.test.ts
  packages/semantic/test/morphology.test.ts
  packages/semantic/test/polish-idioms.test.ts
  packages/semantic/test/quechua-idioms.test.ts
  packages/semantic/test/russian-idioms.test.ts
  packages/semantic/test/swahili-idioms.test.ts
  packages/semantic/test/tagalog-idioms.test.ts
  packages/semantic/test/thai-idioms.test.ts
  packages/semantic/test/ukrainian-idioms.test.ts
Due: semantic

feat(framework): extract tokenization infrastructure (tasks 4-5)
  packages/framework/src/core/tokenization/base-tokenizer.ts
  packages/framework/src/core/tokenization/char-classifiers.ts
  packages/framework/src/core/tokenization/extractors.ts
  packages/framework/src/core/tokenization/index.ts
  packages/framework/src/core/tokenization/morphology/index.ts
  packages/framework/src/core/tokenization/morphology/types.ts
  packages/framework/src/core/tokenization/token-utils.ts
  packages/framework/src/core/types.ts
Due: none

feat(framework): extract pattern matching and grammar utilities (tasks 6-7)
  packages/framework/src/core/index.ts
  packages/framework/src/core/pattern-matching/index.ts
  packages/framework/src/core/pattern-matching/pattern-matcher.ts
  packages/framework/src/core/pattern-matching/utils/index.ts
  packages/framework/src/core/pattern-matching/utils/possessive-keywords.ts
  packages/framework/src/core/pattern-matching/utils/type-validation.ts
  packages/framework/src/core/types.ts
  packages/framework/src/grammar/index.ts
  packages/framework/src/grammar/transformer.ts
  packages/framework/src/grammar/types.ts
Due: none

refactor(framework): add dependency injection interfaces (deep refactor Day 1-2)
  packages/framework/src/grammar/index.ts
  packages/framework/src/grammar/transformer.ts
  packages/framework/src/index.ts
  packages/framework/src/interfaces/dictionary.ts
  packages/framework/src/interfaces/index.ts
  packages/framework/src/interfaces/profile-provider.ts
  packages/framework/src/interfaces/value-extractor.ts
Due: none

feat(framework): add SQL DSL example + fix tsconfig (validation)
  packages/framework/examples/sql-dsl/README.md
  packages/framework/examples/sql-dsl/simple-sql-debug.ts
  packages/framework/examples/sql-dsl/simple-sql-debug2.ts
  packages/framework/examples/sql-dsl/simple-sql.ts
  packages/framework/examples/sql-dsl/test-custom-pattern.ts
  packages/framework/examples/sql-dsl/test-direct-match.ts
  packages/framework/examples/sql-dsl/test-pattern-gen.ts
  packages/framework/examples/sql-dsl/test-pattern-gen2.ts
  packages/framework/examples/sql-dsl/test-simple.ts
  packages/framework/tsconfig.json
Due: none

fix(framework): pattern matcher now works! SQL DSL example runs successfully ✅
  packages/framework/src/core/pattern-matching/pattern-matcher.ts.backup
  packages/framework/src/generation/pattern-generator.ts
Due: none

feat(framework): add pluggable extractor registry for universal DSL support
  packages/framework/docs/EXTRACTORS.md
  packages/framework/examples/sql-dsl/simple-sql.ts
  packages/framework/src/core/tokenization/base-tokenizer.ts
  packages/framework/src/core/tokenization/default-extractors.ts
  packages/framework/src/core/tokenization/extractors/index.ts
  packages/framework/src/core/tokenization/extractors/operator.ts
  packages/framework/src/core/tokenization/extractors/punctuation.ts
  packages/framework/src/core/tokenization/index.ts
  packages/semantic/src/tokenizers/extractors/css-selector.ts
  packages/semantic/src/tokenizers/extractors/event-modifier.ts
  packages/semantic/src/tokenizers/extractors/index.ts
  packages/semantic/src/tokenizers/extractors/property-access.ts
  packages/semantic/src/tokenizers/extractors/url.ts
Due: semantic

feat(semantic): add extractor registry infrastructure to BaseTokenizer
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/base-tokenizer.ts
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/extractor-helpers.ts
  packages/semantic/src/tokenizers/extractors/css-selector.ts
  packages/semantic/src/tokenizers/extractors/event-modifier.ts
  packages/semantic/src/tokenizers/extractors/property-access.ts
  packages/semantic/src/tokenizers/extractors/url.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/generic-extractors.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/he.ts
  packages/semantic/src/tokenizers/hindi.ts
  packages/semantic/src/tokenizers/indonesian.ts
  packages/semantic/src/tokenizers/italian.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/polish.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/russian.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/swahili.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/src/tokenizers/ukrainian.ts
  packages/semantic/src/tokenizers/value-extractor-types.ts
  packages/semantic/src/tokenizers/vietnamese.ts
Due: semantic

feat(semantic): migrate English tokenizer to context-aware extractors ✅
  packages/semantic/src/tokenizers/base-tokenizer.ts
  packages/semantic/src/tokenizers/context-aware-extractor.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/extractors/english-keyword.ts
  packages/semantic/src/tokenizers/thai.ts
Due: semantic

feat(semantic): migrate Spanish tokenizer to context-aware extractors ✅
  packages/semantic/src/tokenizers/extractors/spanish-keyword.ts
  packages/semantic/src/tokenizers/spanish.ts
Due: semantic

feat(semantic): complete Tier 2 migration - Portuguese, French, German ✅
  packages/semantic/src/tokenizers/extractors/french-keyword.ts
  packages/semantic/src/tokenizers/extractors/german-keyword.ts
  packages/semantic/src/tokenizers/extractors/portuguese-keyword.ts
  packages/semantic/src/tokenizers/extractors/romance-language-keyword.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/portuguese.ts
Due: semantic

feat(semantic): add Japanese particle and keyword extractors (foundation)
  packages/semantic/src/tokenizers/extractors/japanese-keyword.ts
  packages/semantic/src/tokenizers/extractors/japanese-particle.ts
Due: semantic

feat(semantic): complete extractor metadata system and fix 54 test regressions
  packages/semantic/src/tokenizers/base-tokenizer.ts
  packages/semantic/src/tokenizers/english.ts
  packages/semantic/src/tokenizers/extractor-helpers.ts
  packages/semantic/src/tokenizers/extractors/css-selector.ts
  packages/semantic/src/tokenizers/extractors/event-modifier.ts
  packages/semantic/src/tokenizers/extractors/index.ts
  packages/semantic/src/tokenizers/extractors/variable-ref.ts
  packages/semantic/src/tokenizers/french.ts
  packages/semantic/src/tokenizers/generic-extractors.ts
  packages/semantic/src/tokenizers/german.ts
  packages/semantic/src/tokenizers/portuguese.ts
  packages/semantic/src/tokenizers/spanish.ts
  packages/semantic/src/tokenizers/token-utils.ts
Due: semantic

feat(semantic): complete Tier 3 migration - all 6 particle languages migrated
  packages/semantic/src/tokenizers/arabic.ts
  packages/semantic/src/tokenizers/chinese.ts
  packages/semantic/src/tokenizers/extractors/arabic-keyword.ts
  packages/semantic/src/tokenizers/extractors/arabic-proclitic.ts
  packages/semantic/src/tokenizers/extractors/arabic-temporal.ts
  packages/semantic/src/tokenizers/extractors/chinese-keyword.ts
  packages/semantic/src/tokenizers/extractors/chinese-particle.ts
  packages/semantic/src/tokenizers/extractors/index.ts
  packages/semantic/src/tokenizers/extractors/japanese-particle.ts
  packages/semantic/src/tokenizers/extractors/korean-keyword.ts
  packages/semantic/src/tokenizers/extractors/korean-particle.ts
  packages/semantic/src/tokenizers/extractors/romance-language-keyword.ts
  packages/semantic/src/tokenizers/extractors/vietnamese-keyword.ts
  packages/semantic/src/tokenizers/italian.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/vietnamese.ts
Due: semantic

feat(semantic): complete Tiers 1 & 4 migration - all 24 languages now using extractors
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/extractors/ascii-identifier.ts
  packages/semantic/src/tokenizers/extractors/bengali-keyword.ts
  packages/semantic/src/tokenizers/extractors/bengali-particle.ts
  packages/semantic/src/tokenizers/extractors/cyrillic-keyword.ts
  packages/semantic/src/tokenizers/extractors/hebrew-keyword.ts
  packages/semantic/src/tokenizers/extractors/hebrew-proclitic.ts
  packages/semantic/src/tokenizers/extractors/hindi-keyword.ts
  packages/semantic/src/tokenizers/extractors/hindi-particle.ts
  packages/semantic/src/tokenizers/extractors/index.ts
  packages/semantic/src/tokenizers/extractors/indonesian-keyword.ts
  packages/semantic/src/tokenizers/extractors/malay-keyword.ts
  packages/semantic/src/tokenizers/extractors/polish-keyword.ts
  packages/semantic/src/tokenizers/extractors/quechua-keyword.ts
  packages/semantic/src/tokenizers/extractors/swahili-keyword.ts
  packages/semantic/src/tokenizers/extractors/tagalog-keyword.ts
  packages/semantic/src/tokenizers/extractors/thai-keyword.ts
  packages/semantic/src/tokenizers/extractors/turkish-keyword.ts
  packages/semantic/src/tokenizers/he.ts
  packages/semantic/src/tokenizers/hindi.ts
  packages/semantic/src/tokenizers/indonesian.ts
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/polish.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/semantic/src/tokenizers/russian.ts
  packages/semantic/src/tokenizers/swahili.ts
  packages/semantic/src/tokenizers/thai.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/src/tokenizers/ukrainian.ts
  packages/semantic/test/hindi-idioms.test.ts
Due: semantic

fix(semantic): enhance generic extractors for multilingual support
  packages/semantic/src/tokenizers/base-tokenizer.ts
  packages/semantic/src/tokenizers/generic-extractors.ts
Due: semantic

feat(semantic): add append/prepend/trigger pattern directories + expand language coverage
  packages/semantic/src/patterns/append/en.ts
  packages/semantic/src/patterns/append/es.ts
  packages/semantic/src/patterns/append/index.ts
  packages/semantic/src/patterns/append/ja.ts
  packages/semantic/src/patterns/append/ko.ts
  packages/semantic/src/patterns/builders.ts
  packages/semantic/src/patterns/decrement/index.ts
  packages/semantic/src/patterns/decrement/ja.ts
  packages/semantic/src/patterns/decrement/ko.ts
  packages/semantic/src/patterns/increment/ar.ts
  packages/semantic/src/patterns/increment/es.ts
  packages/semantic/src/patterns/increment/fr.ts
  packages/semantic/src/patterns/increment/index.ts
  packages/semantic/src/patterns/increment/ja.ts
  packages/semantic/src/patterns/increment/ko.ts
  packages/semantic/src/patterns/prepend/en.ts
  packages/semantic/src/patterns/prepend/es.ts
  packages/semantic/src/patterns/prepend/index.ts
  packages/semantic/src/patterns/prepend/ja.ts
  packages/semantic/src/patterns/prepend/ko.ts
  packages/semantic/src/patterns/trigger/en.ts
  packages/semantic/src/patterns/trigger/es.ts
  packages/semantic/src/patterns/trigger/index.ts
  packages/semantic/src/patterns/trigger/ja.ts
  packages/semantic/src/patterns/trigger/ko.ts
Due: semantic

fix(semantic): fix compound keyword tokenization in JA/KO/TR - 22 tests fixed
  packages/semantic/src/tokenizers/extractors/japanese-keyword.ts
  packages/semantic/src/tokenizers/extractors/turkish-keyword.ts
  packages/semantic/src/tokenizers/japanese.ts
  packages/semantic/src/tokenizers/korean.ts
Due: semantic

fix(semantic): fix event modifier classification in 5 tokenizers - 20 tests fixed
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/russian.ts
  packages/semantic/src/tokenizers/thai.ts
  packages/semantic/src/tokenizers/tl.ts
  packages/semantic/src/tokenizers/ukrainian.ts
Due: semantic

fix(semantic): add stem fields to morphological token metadata - 4+ tests fixed
  packages/semantic/src/tokenizers/base-tokenizer.ts
  packages/semantic/src/tokenizers/extractors/arabic-keyword.ts
  packages/semantic/src/tokenizers/extractors/korean-keyword.ts
  packages/semantic/src/tokenizers/extractors/turkish-keyword.ts
Due: semantic

fix(semantic): fix Hebrew proclitic splitting logic - 3 tests fixed
  packages/semantic/src/tokenizers/extractors/hebrew-proclitic.ts
Due: semantic

chore: update package-lock.json after dependency install
  package-lock.json
Due: none

Path conditions:
  core: any of: packages/core/src/**
  semantic: any of: packages/semantic/src/**
  i18n: any of: packages/i18n/src/**
