Repository codetalcott/lokascript: changes, and which Codecov flags are due for each by the changed paths.
All: core, semantic, i18n

docs: update all documentation for bundle rename (hyperfixi → lokascript)
  CLAUDE.md
  REBUILD_WORKFLOW.md
  examples/README.md
  packages/core/bundle-configs/README.md
  packages/core/src/compatibility/aliases/README.md
Due: core

fix(testing-framework): ensure output directory exists before writing JSON results
  packages/testing-framework/src/multilingual/reporters/json-reporter.ts
Due: none

refactor(behaviors): migrate to API v2 and lokascript global
  examples/behaviors/demo.html
  examples/prism-loader.js
  packages/behaviors/src/behaviors/draggable.ts
  packages/behaviors/src/behaviors/removable.ts
  packages/behaviors/src/behaviors/resizable.ts
  packages/behaviors/src/behaviors/sortable.ts
  packages/behaviors/src/behaviors/toggleable.ts
  packages/behaviors/src/core-bundle.ts
  packages/behaviors/src/index.ts
  packages/core/src/dom/attribute-processor.ts
  packages/semantic/src/tokenizers/japanese.ts
Due: core, semantic

fix(parser): allow command names as behavior parameters
  packages/core/src/parser/parser.ts
Due: core

chore(gitignore): exclude local multilingual behaviors feasibility doc
  .gitignore
Due: none

fix(multilingual): exclude QU/BN/MS from CI, improve pass rate to 90.6%
  .github/workflows/test.yml
  packages/core/src/compatibility/browser-tests/test-parse-debug.spec.ts
  packages/core/test-behavior-reg.spec.ts
  packages/semantic/src/tokenizers/bengali.ts
  packages/semantic/src/tokenizers/quechua.ts
  packages/testing-framework/LANGUAGE_SUPPORT.md
  packages/testing-framework/src/multilingual/bundle-builder.ts
Due: core, semantic

fix(semantic): resolve multilingual test failures for JA/KO/AR/TR
  packages/semantic/src/generators/command-schemas.ts
  packages/semantic/src/generators/profiles/arabic.ts
  packages/semantic/src/generators/profiles/japanese.ts
  packages/semantic/src/generators/profiles/korean.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/tokenizers/korean.ts
  packages/semantic/src/tokenizers/turkish.ts
  packages/semantic/test/integration/core-integration.test.ts
  packages/semantic/test/japanese-idioms.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
  packages/semantic/test/official-examples.test.ts
  packages/semantic/test/pattern-comparison.test.ts
  packages/semantic/test/semantic.test.ts
  packages/semantic/test/vso-arabic.test.ts
Due: semantic

fix(ci): resolve browser test and multilingual validation failures
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

docs: clarify standalone hyperscript as primary usage mode
  README.md
Due: none

docs: update documentation to reflect Node 24 upgrade
  .github/workflows/CONSOLIDATION_SUMMARY.md
  .github/workflows/WORKFLOW_DIAGRAM.md
  .github/workflows/archive/README.md
  CLAUDE.md
Due: none

feat(semantic): add profile-driven event handler pattern generation for SOV/VSO languages
  packages/semantic/src/generators/pattern-generator.ts
  packages/semantic/src/generators/profiles/arabic.ts
  packages/semantic/src/generators/profiles/japanese.ts
  packages/semantic/src/generators/profiles/korean.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/generators/profiles/types.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): improve multilingual event handler patterns
  packages/semantic/src/generators/pattern-generator.ts
  packages/semantic/src/generators/profiles/turkish.ts
  packages/semantic/src/parser/pattern-matcher.ts
  packages/semantic/src/tokenizers/turkish.ts
Due: semantic

feat(semantic): add Hindi event handler pattern support
  packages/semantic/src/generators/profiles/hindi.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Russian event handler pattern support
  packages/semantic/src/generators/profiles/russian.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Ukrainian event handler pattern support
  packages/semantic/src/generators/profiles/ukrainian.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Chinese event handler pattern support
  packages/semantic/src/generators/profiles/chinese.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Vietnamese (vi) event handler pattern support
  packages/semantic/src/generators/profiles/vietnamese.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Indonesian (id) event handler pattern support
  packages/semantic/src/generators/profiles/indonesian.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add German (de) event handler pattern support
  packages/semantic/src/generators/profiles/german.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add event handler patterns for French, Italian, Portuguese, Polish
  packages/semantic/src/generators/profiles/french.ts
  packages/semantic/src/generators/profiles/italian.ts
  packages/semantic/src/generators/profiles/polish.ts
  packages/semantic/src/generators/profiles/portuguese.ts
  packages/semantic/test/language-coverage/event-handler-patterns.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): add Hebrew (he) language support
  packages/semantic/src/generators/language-profiles.ts
  packages/semantic/src/generators/profiles/hebrew.ts
  packages/semantic/src/generators/profiles/index.ts
  packages/semantic/src/language-building-schema.ts
  packages/semantic/src/languages/_all.ts
  packages/semantic/src/languages/he.ts
  packages/semantic/src/patterns/builders.ts
  packages/semantic/src/tokenizers/he.ts
  packages/semantic/src/tokenizers/index.ts
  packages/semantic/test/integration/core-integration.test.ts
  packages/semantic/test/language-coverage/test-cases.ts
Due: semantic

feat(semantic): enhance Hebrew, Malay, Quechua tokenizers for 100% event handler coverage
  packages/semantic/src/patterns/event-handler/ms.ts
  packages/semantic/src/tokenizers/he.ts
  packages/semantic/src/tokenizers/ms.ts
  packages/semantic/src/tokenizers/quechua.ts
Due: semantic

feat: expand bundle generator to 24 languages and integrate fix-translations.sql
  .github/workflows/ci.yml
  CLAUDE.md
  packages/patterns-reference/package.json
  packages/patterns-reference/scripts/run-sql.ts
  packages/semantic/scripts/generate-bundle.mjs
Due: none

feat(semantic): enable 5 skipped multilingual tests with SOV event patterns
  packages/semantic/src/generators/pattern-generator.ts
  packages/semantic/src/generators/profiles/arabic.ts
  packages/semantic/test/japanese-idioms.test.ts
  packages/semantic/test/vso-arabic.test.ts
Due: semantic

fix(semantic): add Hebrew (he) to LANGUAGE_NAMES in generate-indexes.ts
  packages/semantic/scripts/generate-indexes.ts
Due: none

docs(semantic): mark es-MX as test variant, not for production
  packages/semantic/src/generators/profiles/spanishMexico.ts
  packages/semantic/src/language-building-schema.ts
Due: semantic

fix(typescript): resolve strict type errors across packages
  packages/core/src/commands/helpers/__tests__/event-waiting.test.ts
  packages/core/src/commands/helpers/__tests__/loop-executor.test.ts
  packages/core/src/commands/helpers/__tests__/variable-access.test.ts
  packages/core/src/lib/__tests__/view-transitions.test.ts
  packages/semantic/src/generators/event-handler-generator.ts
  packages/semantic/src/registry.ts
Due: core, semantic

docs: comprehensive documentation audit and expansion
  apps/docs-site/.vitepress/config.ts
  apps/docs-site/en/api/commands/data.md
  apps/docs-site/en/api/commands/dom.md
  apps/docs-site/en/api/commands/navigation.md
  apps/docs-site/en/api/commands/utility.md
  apps/docs-site/en/api/expressions/logical.md
  apps/docs-site/en/api/expressions/strings.md
  apps/docs-site/en/api/index.md
  apps/docs-site/en/guide/bundles.md
  apps/docs-site/en/guide/commands.md
  apps/docs-site/en/guide/custom-bundles.md
  apps/docs-site/en/guide/debugging.md
  apps/docs-site/en/guide/htmx-compatibility.md
  apps/docs-site/en/packages/semantic.md
Due: none

fix(ci): update better-sqlite3 to v12.6.2 for Node 24 compatibility
  package-lock.json
  packages/component-schema/package.json
  packages/core/package.json
  packages/patterns-reference/package.json
Due: none

fix(ci): remove deprecated --workspace-concurrency flag
  .github/workflows/ci.yml
Due: none

fix(ci): correct artifact download path to repo root
  .github/workflows/ci.yml
Due: none

debug(ci): add artifact download verification step
  .github/workflows/ci.yml
Due: none

fix(ci): correct artifact download path based on upload structure
  .github/workflows/ci.yml
Due: none

fix: resolve ESLint errors and CI artifact download path
  .github/workflows/ci.yml
  packages/developer-tools/src/__test__/test-utils.ts
  packages/developer-tools/src/builder.ts
  packages/developer-tools/src/debugger/index.ts
  packages/developer-tools/src/debugger/variable-inspector.ts
  packages/developer-tools/src/prism-hyperscript-i18n/token-definitions.ts
  packages/developer-tools/src/test-setup.ts
  packages/multi-tenant/src/tenant-manager.ts
  packages/template-integration/src/integration.test.ts
  packages/template-integration/src/types.ts
  packages/template-integration/src/utils.ts
  packages/tron-backend/src/adapters/adapter-interface.ts
  packages/tron-backend/src/index.ts
  packages/tron-backend/src/types/protocol.ts
Due: none

debug(ci): improve artifact verification with more detail
  .github/workflows/ci.yml
Due: none

fix(ci): initialize patterns-reference database before tests
  .github/workflows/ci.yml
Due: none

fix(mcp-server): fall back to built-in examples on database errors
  packages/mcp-server/src/tools/patterns.ts
Due: none

fix(ci): build packages before tests in publish workflow
  .github/workflows/publish.yml
Due: none

feat(htmx): add fixi.js compatibility to hybrid-hx bundle
  CLAUDE.md
  apps/docs-site/en/guide/htmx-compatibility.md
  packages/core/CHANGELOG.md
  packages/core/src/compatibility/browser-bundle-hybrid-hx.ts
  packages/core/src/htmx/__tests__/fixi-compat.test.ts
  packages/core/src/htmx/htmx-attribute-processor.ts
  packages/core/src/htmx/htmx-translator.ts
Due: core

Path conditions:
  core: any of: packages/core/src/**
  semantic: any of: packages/semantic/src/**
  i18n: any of: packages/i18n/src/**
